#upper{
    background-color: beige;
     height: 50vh;
     padding: 0px;
}

#upper-left{
    float: left;
    text-align: right;
    width: 50%;
    margin-top: 2%;
}
#upper-right{
    float: left;
    text-align: left;
    width: 50%;
    margin-top: 2%;
}
#upper-footer{
    background-color: black;
    color: white;
    /* height: 4%; */
    padding: 0px;
    font-size: 50px;
}
#main{
    text-align: center;
    height: 50vh;
    background-color: blueviolet;
}
#works{
    background-color: antiquewhite;
    margin-top: 10px;
}
img{
    border: solid green 5px;
}
.col{
    border: dotted red 1px;
}
#name{
    font-size: 300%;
}
.headers{
    font-weight: 800;
    font-size: 150%;
}