body{
    padding: 0px;
    margin: 0px;
    overflow: auto;
    background-color: #EDEDED;
    /* height: 100vh; */

}
#upper{
    background-color: #EDEDED;
     /* height: 50vh; */
     padding: 0px;
}

#upper-left{
    float: left;
    text-align: right;
    /* width: 49%; */
    /* margin-top: 2%; */
    /* margin-bottom: 2%; */
    background-color: red;
}
#upper-left img{
    margin-right: 20%;
    height: 351px; 
    width: 230px; 
}
#upper-right{
    float: left;
    text-align: left;
    /* width: 49%; */
    /* margin-top: 2%; */
    /* margin-bottom: 2%; */
    background-color: blue;
    font-size: 150%;
    
}
#upper-footer{
    background-color: #EDEDED;
    /* color: white; */
    /* height: 4%; */
    padding: 0px;
    font-size: 50px;
}
#main{
    clear: both;
    text-align: center;
    height: auto;
    background-color: #EDEDED;
}
#works{
    background-color: #EDEDED;
    margin-top: 10px;
}
img,video{
    border: solid gray 1px;
    border-collapse: collapse;
}
.col{
    /* border: dotted red 1px; */
}
#name{
    font-size: 300%;
}
.headers{
    font-weight: 800;
    font-size: 150%;
}
.col img, .col video{
    height: 100%;
    width: 100%;
}
#shadow{
    display: none;
    /* display: flex; */
    height: 100vh;
    position: fixed;
    /* top: 30%; */
    /* left: 50%; */
    background-color: rgba(0, 0, 0, 0.9);
}
#created_image{
    position: fixed;
    /* padding: 1%; */
    /* margin: 15%; */
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%,-50%);
}